html
  head
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-0
      a.navbar-brand(href='/') Nick Lima
      |   
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |   
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.dropdown
            a#musicdropdown.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Music
            |       
            .dropdown-menu(aria-labelledby='dropdown03')
              a.nav-link(href='/music/2019', style='color:black') 2019
              |           
              a.nav-link(href='/music/2018', style='color:black') 2018
              |           
              a.nav-link(href='/music/2017', style='color:black') 2017
              // <a class="nav-link" href="/music2016" style="color:black">2016</a>
              // <a class="nav-link" href="/music2015" style="color:black">2015</a>
          |     
          li.nav-item
            a.nav-link(href='/music/tree') Tree
        |   
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='https://www.linkedin.com/in/nicholas-lima/', target='_blank') LinkedIn
